@import '../utils/global';
@import '../utils/variables';
@import '../utils/mixins';
@import '../components/header';
@import '../components/footer';

.error {
    @include flex(column, normal, center);
    @include wrapper();
    color: $main-color;
    text-align: center;
    gap: 139px;
    padding: 20px;
    h1 {
        font-weight: 700;
        text-align: center;
        font-size: 288px;
    }
    @include mobile {
        gap: 113px;
        h1 {
            font-size: 96px;
        }
    }
}

.error-link {
    text-decoration: none;
    color: $main-color;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 139px;

    &:hover {
        text-decoration: underline;
    }
}
