@import '../utils/global';
@import '../utils/variables';
@import '../utils/mixins';
@import '../components/header';
@import '../components/banner';
@import '../components/card';
@import '../components/footer';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}