.banner {
    display: flex;
    width: 1240px;
    height: 220px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    h1 {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 48px;
        font-weight: 500;
    }
}