.banner {
    display: flex;
    width: 1240px;
    height: 220px;
    border-radius: 25px;

    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../assets/banner-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // opacity: 0.3;
    // mix-blend-mode: darken;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    h1 {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 48px;
        font-weight: 500;
    }
}