.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: 1240px;
    min-height: 420px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: 25px;

    @include mobile {
        min-width: 335px;
        min-height: 255px;
    }

    .arrows {
        color: white;
        width: 95%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 40%;
    }

    .arrow-left, .arrow-right {
        cursor: pointer;
    }

    p {
        color: white;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 500;
    }
}