.dropdown {
    border-radius: 5px;
}

.dropdown-title {
    display: flex;
    align-items: center;
    background: $main-color;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 52px;

    @include mobile {
        font-size: 13px;
        height: 30px;
    }
}

.dropdown-content {
    background: $bg-color;
    color: $main-color;
    font-size: 18px;
    overflow: hidden;
    height: 0;
    transition: all 0.2s ease-in;
 
}
.slides {
    height: fit-content;
    padding: 20px;
}

.dropdown-icon {
    cursor: pointer;
    transition: transform 0.4s ease;
}

.rotate {
    transform: rotate(-180deg);
}