.dropdown {
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-title {
    display: flex;
    align-items: center;
    background: $main-color;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.dropdown-content {
    background: $bg-color;
    color: $main-color;
    position: relative;
    font-size: 18px;
    max-height: 0;
    transition: all 0.3s ease-in;
 
}
.slides {
    max-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.dropdown-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dropdown-item {
    margin-left: 20px; 
}

.rotate {
    transform: rotate(-180deg);
}