.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  nav {
    display: flex;
    gap: 50px;

    & > * {
      color: $main-color;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
    }

    .underline {
      text-decoration: underline;
    }
  }

}
